body {
  background-color: #white;
  color: black;
  font-family: 'Roboto';
}

#gameWrapper {
  position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: 400px;
   height: 600px;
   border-style: solid;
   border-color: black;
   border-width: 4px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#title {
  padding-top: 6px;
  font-family: 'Roboto';
  font-size: 44px;
}
#quoteArea {
  padding-bottom: 6px;
  font-family: 'Roboto';
  font-size: 18px;
  max-width: 300px;
}
#chat-text {
  text-align: left;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
#submit-input-button {
  font-size: 20px;
  padding-right: 12px;
  padding-left: 12px;
}
#alertArea
{
  padding-top: 8px;
  padding-bottom: 0px;
}
input[type="text"]
{
    background: transparent;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
}
input[type="password"]
{
    background: transparent;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    font-family: 'Roboto';
    font-size: 16px;
}
button
{
  margin-top: 0px;
  background: black;
  padding-left: 6px;
  padding-right: 6px;
  padding-top:4px;
  padding-bottom:4px;
  border: none;
  color: white;
  cursor: pointer;
}
.selectButton
{
  width:140px;
  height:140px;
  text-align:center;
  font-size: 26px;
  margin-top:10px;
  margin-bottom:8px;
  margin-left:4px;
}
.subtitle{
    font-size: 22px;
}
.invalidButton{
  background-color:#303F42;
}
.labelArea
{
  margin-bottom: 2px;
  font-size: 22px;
}
.labelFor
{
  margin-top: 6px;
  margin-bottom: 2px;
  font-size: 22px;
}
.hiddenArea
{
  display: none;
}
.s
{
  display: block;
}
.neutralColor{
  color:#303F42;
}
.positiveColor{
  color:#EEC015;
}
.negativeColor{
  color:red;
}
