.hiddenArea
{
  display: none;
}
.s
{
  display: block;
}
.neutralColor{
  color:#303F42;
}
.positiveColor{
  color:#EEC015;
}
.negativeColor{
  color:red;
}
.cardLeft {
  width: 450px;
  height:400px;
}
.cardRight{
width: 450px;
  height:400px;
}
